ruby:
  queries = { r: {} }
  if defined?(reserve) && reserve.present?
    date = reserve.start_time.to_date
    room = reserve.room
  end
  queries[:start_date] = date  if defined?(date) && date.present?
  if defined?(room) && room.present?
    queries[:r][:building_area_id_in] = room.building&.area&.id
    queries[:r][:building_id_in] = room.building&.id
    queries[:r][:id_in] = room.id
  end

  title ||= '部屋カレンダー'
  url = index_calendar_reserves_path(queries)
  options = {
    data: { toggle: :childwindow, url: url },
    class: 'btn btn-outline-info btn-sm',
    title: '部屋カレンダー' \
  }
= link_to url, options
  =<> fa_icon :calendar, class: 'fw'
  = title

