.hidden
  .js-hidden-text-reserve[data-confirm_button_reserve=t('.reserve')
                 data-confirm_button_delete=t('.delete')
                 data-swal_text_valid_ten_minutes=t('.alert')
                 data-swal_text_valid_empty_lectures=t('.no_available_lecture')
                 data-swal_select_description_text=t('.select_lecture')
                 data-swal_confirm_text_delete=t('.confirm')
                 data-room_name=t('.room_name')
                 data-capacity=t('.capacity')
                ]
