.fc-view-container {
  border-right: #ddd 1px solid;
  border-left: #ddd 1px solid;
}

.fc-body {
  background-color: #fff;
}

.fc-day.fc-widget-content.fc-disabled-day {
  background-color: #fff;
}

.fc-header-toolbar {
  h2 {
    line-height: 1;
  }
}